<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户详细信息</title>
	<link rel="stylesheet" href="../css/css.css" />
	<script src="../js/jquery.min.js"></script>
	<script src="../js/main.js"></script>
	<!--[if IE]>
		<script src="../js/jquery.js"></script>
	<![endif]-->

</head>
<body>
<h2>用户详细信息</h2>

<p>昵称：<?php echo $data['nick']; ?> </p>
<p>账号：<?php echo $data['account']; ?></p>
<p>密码：<?php echo $data['password']; ?></p>
<p>电子邮件：<?php echo $data['email']; ?></p>
<p>qq号码：<?php echo $data['qq']; ?></p>
<p>电话号码：<?php echo $data['telephone']; ?></p>
<p>安全问题：<?php echo $data['safety']; ?></p>
<p>年龄：<?php echo $data['age']; ?></p>
<p>学历：<?php echo $data['edu']; ?></p>
<p>爱好：<?php echo $data['hobby']; ?></p>
<p>地址：<?php echo $data['address']; ?></p>
<p>邮编：<?php echo $data['zcode']; ?></p>
<p>学校：<?php echo $data['school']; ?></p>


<p><a href="?p=front&c=Info">返回</a></p>

</body>
</html>
















